.footer__column-links {
    /* Ссылки внутри блоков */
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    transition: opacity .2s linear;
  }
  
  .footer__column-links:hover {
    opacity: .6;
  }